# Star Type Classifier Notebook

This is a notebook, where I will create a machine learning model to classify a star type based on its parameters, such as luminosity, radius, etc.

## Imports

In [4]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
%matplotlib inline

## Loading the dataset

In [7]:
Dataset = pd.read_csv('../Data/StarsDataset.csv')
Dataset.head(5)

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,Red,M
1,3042,0.000500,0.1542,16.60,0,Red,M
2,2600,0.000300,0.1020,18.70,0,Red,M
3,2800,0.000200,0.1600,16.65,0,Red,M
4,1939,0.000138,0.1030,20.06,0,Red,M

# Exploratory Data Analysis